.communications {
	overflow: hidden;
	width: 100%;
}
.communications h2 {
	display: flex;
	justify-content: center;
	color: rgb(5, 12, 51);
	font-family: Montserrat;
}
.communications p {
	opacity: 0.7;
	color: rgb(5, 12, 51);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0%;
	margin-left: 15px;
}
.gallery {
	overflow: hidden;
	position: relative;
	height: 140px;
}

.gallery-inner {
	display: flex;
	/* flex-wrap: wrap; */
	animation: scroll 40s linear infinite;
}

.gallery img {
	height: 80px;
	width: auto;
	max-width: 130px;
	margin: 5px;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid #969696;
	flex: 0 0 auto;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
