@media (min-width: 700px) {
	.footerend {
		padding: 40px 40px;
	}
	.footerform {
		display: flex;
		justify-content: space-between;
	}
	.form {
		max-width: 500px;
	}
	.contacs h2 {
		font-size: 30px;
		text-align: left;
	}
}
@media (min-width: 1200px) {
	.form {
		margin-left: 200px;
	}
	.forms {
		margin-right: 200px;
	}
}
