@media (min-width: 900px) {
	.sector2 {
		text-align: center;
		padding: 20px;
		max-width: 1020px;
		margin: 0 auto;
	}
	.sector2 h2 {
		font-size: 42px;
		font-weight: 700;
		line-height: 51px;
		letter-spacing: 0%;
		text-align: left;
	}
	.sec2gg {
		opacity: 0.9;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
	}
	.info {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 200px);
	}
	.spec p {
		opacity: 0.8;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
	}
}
