@media (min-width: 400px) {
	.head {
		position: absolute;
		top: 30%;
		left: 100px;
		transform: translateY(-50%);
		z-index: 1;
		max-width: 400px;
		max-height: 400px;
	}
}
@media (min-width: 500px) {
	.head {
		top: 30%;
		left: 120px;
		max-width: 400px;
		max-height: 500px;
	}
	.laptop {
		left: -20px;
		bottom: -80px;
		width: 80%;
	}
	.sector3 {
		padding: 0;
	}
	.block_bottom h2 {
		margin-top: 250px;
	}
	.blockdopinfo {
		margin-top: 280px;
	}
}
@media (min-width: 640px) {
	.head {
		top: 30%;
		left: 120px;
		max-width: 400px;
		max-height: 500px;
	}
	.laptop {
		left: -20px;
		bottom: -80px;
		width: 65%;
	}
}
@media (min-width: 800px) {
	.head {
		top: 30%;
		left: 200px;
		max-width: 400px;
		max-height: 500px;
	}
	.laptop {
		left: -20px;
		bottom: -80px;
		width: 44%;
	}
}

@media (min-width: 1000px) {
	.blockdopinfo {
		margin-left: 300px;
		padding-left: 200px;
	}
}
@media (min-width: 1300px) {
	.blockdopinfo {
		margin-left: 500px;
		padding-left: 400px;
	}
}
@media (min-width: 1400px) {
	.head {
		top: 10%;
		left: 200px;
		max-width: 1300px;
		max-height: 600px;
	}
	.laptop {
		left: -20px;
		bottom: -80px;
		max-width: 45%;
	}
}
@media (min-width: 1700px) {
	.head {
		top: -45%;
		left: 200px;
		max-width: 1500px;
		max-height: 1500px;
	}
}
