@media (min-width: 700px) {
	.communications {
		margin-top: 40px;
	}
	.communications h2 {
		font-size: 30px;
	}
	.communications p {
		text-align: center;
		font-size: 18px;
	}
	.gallery {
		overflow: hidden;
		position: relative;
		height: 230px;
	}
	.gallery img {
		height: 100px;
		width: auto;
		max-width: 160px;
		margin: 10px;
	}
}
